{% extends "base.html" %}

{% block title %}NFL Teams{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4"><i class="fas fa-shield-alt"></i> NFL Teams</h1>
    </div>
</div>

<div class="row">
    {% for team in teams %}
    <div class="col-md-3 col-sm-4 col-6 mb-3">
        <div class="card h-100 text-center">
            <div class="card-body">
                <h5 class="card-title">{{ team }}</h5>
                <a href="/team/{{ team }}" class="btn btn-primary btn-sm">View Roster</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
